.HomePage {
	display: grid;
}

.wrapper {
	padding: 24px;
	width: 80%;
}

.buttons {
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: fit-content;
	width: 400px;
}

.text{
	margin-top: 30px;
}

.small_text{
	margin-top: 30px;
}