.AboutStudentList {
	background: var(--secondary-color);
	display: flex;
	width: fit-content;
	height: auto;
	border-bottom: 1px solid var(--light-gray-color);
	gap: 30px;
	margin: 10px 15px;
	align-items: center;
}
