.LessonPage {
	display: grid;
	gap: 40px;
	grid-template-columns: 65% 33%;
	grid-template-areas: 'full_lesson all_lesson ';
}

.full_lesson {
	grid-area: full_lesson;
}
.all_lesson {
	height: fit-content;
	display: grid;
	grid-auto-rows: min-content;
	gap: 25px;
	grid-area: all_lesson;
}
