.right_block {
	border-radius: 50%;
	width: 28px;
	height: 28px;
}

.primary {
	border: 2px solid var(--primary-color);
}
.red {
	border: 2px solid var(--red-color);
}
.inverted {
	border: 2px solid var(--inverted-secondary);
}
