.Icon {
	cursor: pointer;
}

.medium g {
	width: 24px;
	height: 24px;
}

.secondary path {
	stroke: var(--secondary-color);
}

.inverted_secondary path {
	stroke: var(--inverted-secondary);
}

.primary path {
	stroke: var(--primary-color);
}

.red path {
	stroke: var(--red-color);
}
