.Icon {
	cursor: pointer;
}

.medium g {
	width: 24px;
	height: 24px;
}

.secondary g {
	stroke: var(--black-color);
}

.primary g {
	stroke: var(--primary-color);
}

.red g {
	stroke: var(--red-color);
}
