.ProfilePage{
    display: grid;
	gap: 43px;
}

.main {
	border-radius: 4px;
	display: grid;

	grid-template-areas:
		'wrapper '
		'card';
	background-color: var(--background);
	padding: 24px;
}

.wrapper {
	background-color: var(--background);
	grid-area: wrapper;
}

.card{
    display: grid;
    gap: 10px;
    grid-template-areas:
        'ava full_name'
		'ava contacts'
        'information information';
    grid-auto-columns: 150px;

}

.ava{
    grid-area: ava;

}

.full_name{
    display: flex;
    gap: 10px;
    grid-area: full_name;

}

.contacts{
    display: grid;
    grid-area: contacts;
}
.information{
    margin-left: 52%;
    display: grid;
    grid-area: information;
    gap: 10px;

    
}
.about_box{
    background: var(--light-gray-color);
	min-height: 137px;
	min-width: 600px;
	padding: 12px;
	border-radius: 5px;
}