.LessonFormSteps {
	width: 100%;
	height: 100%;

	align-items: start;
}

.steps {
	display: flex;
}
.header {
	background: var(--secondary-color);
	padding: 5px;
	margin-bottom: 20px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
