.Input {
	padding: 6px 10px;
	font: var(--font-s);
	border: none;
	border-radius: 4px;
}

.secondary {
	background: var(--secondary-color);
	color: var(--gray-color);
}
.secondary::placeholder {
	color: var(--gray-color);
}

.clear {
	background: var(--light-gray-color);
	color: var(--gray-color);
}
.clear::placeholder {
	color: var(--gray-color);
}

.small {
	height: 32px;
}

.medium {
	height: 40px;
}

.large {
	height: 46px;
}
