.ViewAnswerPage {
	display: grid;
	gap: 43px;
}
.main {
	background-color: var(--background);
	padding: 24px;
	color: var(--gray-color);
	border-radius: 4px;

}

.message {
	background: var(--light-gray-color);
	min-height: 137px;
	width: 600px;
	padding: 12px;
	border-radius: 5px;
	color: var(--inverted-secondary);
}

.download {
	display: flex;
	align-items: center;
	gap: 10px;
}
.stars {
	width: fit-content;
}
.wrapper {
	display: grid;
	gap: 10px;
}
.your_message {
	min-height: 137px;
	width: 600px;
}
