.SelectOption {
	background: var(--background);
	width: 100%;
	display: grid;
	grid-gap: 10px;

}
.selectElement {
	//color: red;
	background: var(--light-gray-color);
	font-size: 0.75em;
	border: none;
	width: 516px;
	height: 48px;
}
