.Lesson {
	display: grid;
	gap: 20px;
}
.video_wrapper {
	min-height: 574px;
}
.title {
	margin-bottom: 30px;
}
.iframe {
	border-radius: 6px;
	border: none;
}
.navigateButton {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
